  
<div class="px-8 py-8 my-8 border rounded-md lg:flex-auto">
  <div>
    <h2 class="text-base font-semibold leading-7 text-gray-900">Edit Amenities</h2>
    <!-- FIXME: why this form, default is patch -->
    <%= form_with model: @property, url: furnish_owner_property_path do |form| %>
      <fieldset class="mt-10">
        <legend class="sr-only">Amenities</legend>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-4">
          <!-- FIXME: how to style collection_check_boxes -->
          <%= form.collection_check_boxes :amenity_ids, Amenity.all, :id, :name, include_hidden: false do |b| %>
            <%= b.label class: "flex items-center justify-start text-sm gap-x-4" do %>
              <%= b.check_box class: "w-4 h-4 border-gray-300 rounded text-primary focus:ring-primary" %>
              <%= image_tag b.object.icon, class: "w-6 h-6" %>
              <p class="font-light"><%= b.text %></p>
            <% end %>
          <% end %>
        </div>
      </fieldset>
      <%= form.submit 'Update', class: "mt-12 flex items-center justify-center rounded-md border border-transparent bg-primary px-8 cursor-pointer py-3 text-base font-medium text-white hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2" %>
    <% end %>
  </div>
</div>