<div class="px-8 py-8 my-8 border rounded-md lg:flex-auto">
  <div>
    <h2 class="text-base font-semibold leading-7 text-gray-900"><%= title %></h2>
    <!-- TODO: insert form_with here -->
    <%= form_with model: @property, url: path do |form| %>
      <div  class= "grid grid-cols-1 mt-10 gap-x-6 gap-y-8 sm:grid-cols-6">
        <!-- Name -->
        <div class="sm:col-start-1 sm:col-span-4">
          <%= form.label :name, class: "text-sm font-medium leading-6 text-gray-900" %>
          <%= form.text_field :name, class: "mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6" %>
        </div>
        <!-- Headline -->
        <div class="sm:col-start-1 sm:col-span-full">
          <%= form.label :headline, class: "text-sm font-medium leading-6 text-gray-900" %>
          <%= form.text_field :headline, class: "mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6" %>
        </div>
        <!-- Description -->
        <div class="sm:col-start-1 sm:col-span-full">
          <%= form.label :description, class: "text-sm font-medium leading-6 text-gray-900" %>
          <%= form.rich_text_area :description, rows: 10, class: "mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6" %>
        </div>
        <!-- Price -->
        <div class="sm:col-start-1 sm:col-span-full">
          <%= form.label :price, class: "text-sm font-medium leading-6 text-gray-900" do %>
            Price 
            <% if @property&.price.present? %>
              (<%= @property.price.currency.to_s %>)
            <% end %>
          <% end %>
          <%= form.text_field :price, class: "mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6" %>
        </div>
        <!-- Guest count -->
        <div class="lg:col-span-2 col-span-full">
          <%= form.label :guest_count, class: "text-sm font-medium leading-6 text-gray-900" %>
          <%= form.number_field :guest_count, class: 'form-control mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6' %>
        </div>
        <!-- Bedroom count -->
        <div class="lg:col-span-2 col-span-full">
          <%= form.label :bedroom_count, class: "text-sm font-medium leading-6 text-gray-900" %>
          <%= form.select :bedroom_count, (1..10).to_a, { include_blank: false }, { class: 'form-control mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6' } %>
        </div>
        <!-- Bed count -->
        <div class="lg:col-span-2 col-span-full">
          <%= form.label :bed_count, class: "text-sm font-medium leading-6 text-gray-900" %>
          <%= form.select :bed_count, (1..10).to_a, { include_blank: false }, { class: 'form-control mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6' } %>
        </div>
        <!-- Bathroom count -->
        <div class="lg:col-span-2 col-span-full">
          <%= form.label :bathroom_count, class: "text-sm font-medium leading-6 text-gray-900" %>
          <%= form.select :bathroom_count, (1..10).to_a, { include_blank: false }, { class: 'form-control mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6' } %>
        </div>
        <div class="sm:col-span-full ">
          <%= form.label :address_1, class: "text-sm font-medium leading-6 text-gray-900" %>
          <%= form.text_field :address_1, class: "mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6" %>
        </div>
        <div class="sm:col-span-full">
          <%= form.label :address_2, class: "text-sm font-medium leading-6 text-gray-900" %>
          <%= form.text_field :address_2, class: "mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6" %>
        </div>
        <!-- Country code -->
        <div class="sm:col-span-2 sm:col-start-1">
          <%= form.label :country_code, class: "text-sm font-medium leading-6 text-gray-900" %>
          <%= country_select(:property, :country_code, {}, { class: 'form-control mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6' }) %>
        </div>
        <div class="sm:col-span-2">
          <%= form.label :city, class: "text-sm font-medium leading-6 text-gray-900" %>
          <%= form.text_field :city, class: "mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6" %>
        </div>
        <div class="sm:col-span-2">
          <%= form.label :state, 'State / Province', class: "text-sm font-medium leading-6 text-gray-900" %>
          <%= form.text_field :state, class: "mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6" %>
        </div>
      </div>
      <%= form.submit 'Update', class: "mt-12 flex items-center justify-center rounded-md border border-transparent bg-primary px-8 cursor-pointer py-3 text-base font-medium text-white hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2" %>
    <% end %>
  </div>
</div>