<div class="mx-auto max-w-7xl lg:flex lg:gap-x-16 lg:px-8">
  <%= render partial: 'shared/owner_sidebar' %>
  <main>
    <!-- Property Images -->
    <%= render 'owner/properties/images' %>
    <!-- Property info -->
    <%= render 'owner/properties/basics', path: owner_property_path, title: 'Edit Property' %>
    <!-- Location info -->
    <div class="px-8 py-8 my-8 border rounded-md lg:flex-auto" data-controller="position-selection">
      <h2 class="text-base font-semibold leading-7 text-gray-900">Google Location</h2>
      <%= form_with model: @property, url: locate_owner_property_path do |form| %>
        <div class="mt-6">
          <div id="map" class="rounded-md h-96"></div>
        </div>
        <div class="grid grid-cols-2 mt-6 gap-x-4">
          <div>
            <%= form.label :latitude, class: "text-sm font-medium leading-6 text-gray-900" %>
            <%= form.text_field :latitude, class: 'form-control mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6', readonly: true, data: { position_selection_target: "latitude" } %>
          </div>
          <div>
            <%= form.label :longitude, class: "text-sm font-medium leading-6 text-gray-900" %>
            <%= form.text_field :longitude, class: 'form-control mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6', readonly: true, data: { position_selection_target: "longitude" } %>
          </div>
        </div>
        <%= form.submit 'Update', class: "mt-12 flex items-center justify-center rounded-md border border-transparent bg-primary px-8 cursor-pointer py-3 text-base font-medium text-white hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2" %>
      <% end %>
    </div>
    <!-- Amenities info -->
    <%= render 'owner/properties/amenities' %>
    <!-- Delete property -->
    <div class="px-8 py-8 my-8 border border-red-500 rounded-md lg:flex-auto">
      <div>
        <h2 class="text-base font-semibold leading-7 text-gray-900">Delete Property</h2>
        <p>This action is permanent and irreversible. Be cautious!</p>
        <%= button_to "Delete", owner_property_path, method: :delete, class: "mt-6 flex rounded-md border border-red-500 bg-white px-8 cursor-pointer py-3 text-base font-medium text-red-600 hover:bg-primary-dark hover:text-white focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2", data: { turbo_confirm: "Are you sure to delete this property?" } %>
      </div>
    </div>
  </main>
</div>
<!-- prettier-ignore -->
<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
          ({key: "AIzaSyAOlA3MnhsOaZi2bnxim3SsLjBWjZrhXQ4", v: "weekly"});
</script>
