<div class="mx-auto max-w-7xl lg:flex lg:gap-x-16 lg:px-8">
  <%= render partial: 'shared/owner_sidebar' %>
  <main>
    <!-- Property Images -->
    <div class="px-8 py-8 my-8 border rounded-md lg:flex-auto">
      <div>
        <h2 class="text-base font-semibold leading-7 text-gray-900">Property Images</h2>
        <div class="grid grid-cols-3 gap-3 mt-8">
          <% @property.images.each do |image| %>
            <div class="relative">
              <%= image_tag image %>
              <%= link_to detach_owner_property_path(image_id: image.id), data: { turbo_method: :delete } do %>
                <svg class="absolute w-5 h-5 text-gray-700 top-1 right-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>
              <% end %>
            </div>
          <% end %>
        </div>
        <%= form_with model: @property, url: attach_owner_property_path do |form| %>
          <div class="flex items-center mt-8">
            <%= form.label :images, 'Add Images:', class: "text-sm font-medium leading-6 text-gray-900 me-4" %>
            <%= form.file_field :images, multiple: true, include_hidden: false %>
          </div>
          <%= form.submit 'Add', class: "mt-6 flex items-center justify-center rounded-md border border-transparent bg-primary px-8 cursor-pointer py-3 text-base font-medium text-white hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2" %>
        <% end %>
      </div>
    </div>
    <!-- Property info -->
    <div class="px-8 py-8 my-8 border rounded-md lg:flex-auto">
      <div>
        <h2 class="text-base font-semibold leading-7 text-gray-900">Edit Property</h2>
        <!-- TODO: insert form_with here -->
        <%= form_with model: @property, url: owner_property_path do |form| %>
          <div  class= "grid grid-cols-1 mt-10 gap-x-6 gap-y-8 sm:grid-cols-6">
            <!-- Name -->
            <div class="sm:col-start-1 sm:col-span-4">
              <%= form.label :name, class: "text-sm font-medium leading-6 text-gray-900" %>
              <%= form.text_field :name, class: "mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6" %>
            </div>
            <!-- Headline -->
            <div class="sm:col-start-1 sm:col-span-full">
              <%= form.label :headline, class: "text-sm font-medium leading-6 text-gray-900" %>
              <%= form.text_field :headline, class: "mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6" %>
            </div>
            <!-- Description -->
            <div class="sm:col-start-1 sm:col-span-full">
              <%= form.label :description, class: "text-sm font-medium leading-6 text-gray-900" %>
              <%= form.text_area :description, rows: 10, class: "mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6" %>
            </div>
            <!-- Price -->
            <div class="sm:col-start-1 sm:col-span-full">
              <%= form.label :price, class: "text-sm font-medium leading-6 text-gray-900" do %>
                Price (<%= @property.price.currency.to_s %>)
              <% end %>
              <%= form.text_field :price, class: "mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6" %>
            </div>
            <!-- Guest count -->
            <div class="lg:col-span-2 col-span-full">
              <%= form.label :guest_count, class: "text-sm font-medium leading-6 text-gray-900" %>
              <%= form.select :guest_count, (1..20).to_a, { include_blank: false }, { class: 'form-control mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6' } %>
            </div>
            <!-- Bedroom count -->
            <div class="lg:col-span-2 col-span-full">
              <%= form.label :bedroom_count, class: "text-sm font-medium leading-6 text-gray-900" %>
              <%= form.select :bedroom_count, (1..10).to_a, { include_blank: false }, { class: 'form-control mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6' } %>
            </div>
            <!-- Bed count -->
            <div class="lg:col-span-2 col-span-full">
              <%= form.label :bed_count, class: "text-sm font-medium leading-6 text-gray-900" %>
              <%= form.select :bed_count, (1..10).to_a, { include_blank: false }, { class: 'form-control mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6' } %>
            </div>
            <!-- Bathroom count -->
            <div class="lg:col-span-2 col-span-full">
              <%= form.label :bathroom_count, class: "text-sm font-medium leading-6 text-gray-900" %>
              <%= form.select :bathroom_count, (1..10).to_a, { include_blank: false }, { class: 'form-control mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6' } %>
            </div>
            <div class="sm:col-span-full ">
              <%= form.label :address_1, class: "text-sm font-medium leading-6 text-gray-900" %>
              <%= form.text_field :address_1, class: "mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6" %>
            </div>
            <div class="sm:col-span-full">
              <%= form.label :address_2, class: "text-sm font-medium leading-6 text-gray-900" %>
              <%= form.text_field :address_2, class: "mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6" %>
            </div>
            <!-- Country code -->
            <div class="sm:col-span-2 sm:col-start-1">
              <%= form.label :country_code, class: "text-sm font-medium leading-6 text-gray-900" %>
              <%= country_select(:profile, :country_code, {}, { class: 'form-control mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6' }) %>
            </div>
            <div class="sm:col-span-2">
              <%= form.label :city, class: "text-sm font-medium leading-6 text-gray-900" %>
              <%= form.text_field :city, class: "mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6" %>
            </div>
            <div class="sm:col-span-2">
              <%= form.label :state, 'State / Province', class: "text-sm font-medium leading-6 text-gray-900" %>
              <%= form.text_field :state, class: "mt-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-900 sm:text-sm sm:leading-6" %>
            </div>
          </div>
          <%= form.submit 'Update', class: "mt-12 flex items-center justify-center rounded-md border border-transparent bg-primary px-8 cursor-pointer py-3 text-base font-medium text-white hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2" %>
        <% end %>
      </div>
    </div>
    <!-- Amenities info -->
    <div class="px-8 py-8 my-8 border rounded-md lg:flex-auto">
      <div>
        <h2 class="text-base font-semibold leading-7 text-gray-900">Edit Amenities</h2>
        <!-- FIXME: why this form, default is patch -->
        <%= form_with model: @property, url: furnish_owner_property_path do |form| %>
          <fieldset class="mt-10">
            <legend class="sr-only">Amenities</legend>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-4">
              <!-- FIXME: how to style collection_check_boxes -->
              <%= form.collection_check_boxes :amenity_ids, Amenity.all, :id, :name, include_hidden: false do |b| %>
                <%= b.label class: "flex items-center justify-start text-sm gap-x-4" do %>
                  <%= b.check_box class: "w-4 h-4 border-gray-300 rounded text-primary focus:ring-primary" %>
                  <%= image_tag b.object.icon, class: "w-6 h-6" %>
                  <p class="font-light"><%= b.text %></p>
                <% end %>
              <% end %>
            </div>
          </fieldset>
          <%= form.submit 'Update', class: "mt-12 flex items-center justify-center rounded-md border border-transparent bg-primary px-8 cursor-pointer py-3 text-base font-medium text-white hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2" %>
        <% end %>
      </div>
    </div>
    <!-- Delete property -->
    <div class="px-8 py-8 my-8 border border-red-500 rounded-md lg:flex-auto">
      <div>
        <h2 class="text-base font-semibold leading-7 text-gray-900">Delete Property</h2>
        <p>This action is permanent and irreversible. Be cautious!</p>
        <%= button_to "Delete", owner_property_path, method: :delete, class: "mt-6 flex rounded-md border border-red-500 bg-white px-8 cursor-pointer py-3 text-base font-medium text-red-600 hover:bg-primary-dark hover:text-white focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2", data: { turbo_confirm: "Are you sure to delete this property?" } %>
      </div>
    </div>
  </main>
</div>
