<div class="flex flex-col items-start justify-start gap-x-4">
  <div class="flex items-center flex-none">
    <!-- commenter avatar -->
    <% if review.user.profile.picture.attached? %>
      <%= image_tag review.user.profile.picture, class: "h-12 w-12 rounded-full", alt: review.user.profile.name || review.user.email %>
    <% else %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 rounded-full">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
      </svg>
    <% end %>
    <!-- commenter name  -->
    <div>
      <p class="text-base font-medium text-gray-900 ms-4"><%= review.user.profile.name || review.user.email %></p>
      <p class="text-xs font-light text-gray-900 ms-4"><%= review.user.profile.city %>, <%= country_name review.user.profile.country_code %></p>
    </div>
  </div>
  <div>
    <!-- star rating -->
    <div class="flex items-center mt-4">
      <% 5.times do |i| %>
        <svg class="<%= review.final_rating.round >= i + 1 ? "text-red-500" : "text-red-100" %> h-3 w-3 flex-shrink-0" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd" />
        </svg>
      <% end %>
    </div>
    <!-- review content -->
    <div class="flex">
      <p class="sr-only">5 out of 5 stars</p>
      <%= turbo_frame_tag review.id do %>
        <div class="mt-3 space-y-6 text-sm text-gray-600">
          <p><%= short ? review.content.truncate(100) : review.content %>&emsp;
            <% if short %>
              <span class="inline-flex items-center gap-1">
                <span class="underline">
                  <%= link_to 'more', reviews_show_more_path(review) %>
                </span>
                <svg 
                        viewBox="0 0 18 18" 
                        role="presentation" 
                        aria-hidden="true" 
                        focusable="false" 
                        style="height: 10px; width: 10px; display: block; fill: var(--f-k-smk-x);"><path d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z" fill-rule="evenodd"></path></svg>
              </span>
            <% end %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>