<div class="px-8 mx-auto max-w-7xl lg:flex lg:gap-x-16">
  <main class="my-8 lg:flex-auto">
    <div>
      <h2 class="text-base font-semibold leading-7 text-gray-900">New Review</h2>
    </div>
    <div class="p-6 mt-4 border border-gray-300 rounded-xl h-min">
      <div class="flex justify-between">
        <div class="flex items-center">
          <% if @reservation.property.images.present? %>
            <%= image_tag @reservation.property.images[0], class:"w-24 h-24 object-cover rounded-md"%>
          <% else %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="object-cover w-24 h-24 rounded-md">
              <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
            </svg>
          <% end %>
          <div class="ml-3 font-medium text-black">
            <div>
              <%= @reservation.property.name %> - <%= @reservation.property.city %>, <%= @reservation.property.state %>
            </div>
            <span class="flex items-baseline mt-2 text-sm font-medium text-black pointer-events-none">
              <svg class="mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 12px; width: 12px; fill: currentcolor;">
                <path fill-rule="evenodd" d="m15.1 1.58-4.13 8.88-9.86 1.27a1 1 0 0 0-.54 1.74l7.3 6.57-1.97 9.85a1 1 0 0 0 1.48 1.06l8.62-5 8.63 5a1 1 0 0 0 1.48-1.06l-1.97-9.85 7.3-6.57a1 1 0 0 0-.55-1.73l-9.86-1.28-4.12-8.88a1 1 0 0 0-1.82 0z"></path>
              </svg>
              <% if @reservation.property.reviews_count > 0 %>
                <%= @reservation.property.average_final_rating.round(2) %> (<%= @reservation.property.reviews_count %> reviews)
              <% else %>
                <span class="text-sm font-light">New</span>
              <% end %>
            </span>
          </div>
        </div>
      </div>
      <div class="relative py-4">
        <div class="absolute inset-0 flex items-center">
          <div class="w-full border-t border-gray-300"></div>
        </div>
      </div>
      <div class="max-w-96">
        <%= form_with url: reservation_reviews_path(@reservation) do |form|  %>
          <div class="flex flex-col py-4">
            <%= form.label :content %>
            <%= form.text_area :content %>
          </div>
          <div>
            <%= render 'reviews/rating_item', field: :cleanliness_rating, form: form %>
            <%= render 'reviews/rating_item', field: :accuracy_rating, form: form %>
            <%= render 'reviews/rating_item', field: :checkin_rating, form: form %>
            <%= render 'reviews/rating_item', field: :communication_rating, form: form %>
            <%= render 'reviews/rating_item', field: :location_rating, form: form %>
            <%= render 'reviews/rating_item', field: :value_rating, form: form %>
          </div>
          <%= form.submit "Submit", class: "cursor-pointer mt-4 flex items-center justify-center rounded-md border border-transparent bg-primary px-8 py-3 text-base font-medium text-white hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2" %>
        <% end %>
      </div>
    </div>
  </main>
</div>