<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb | Holiday rentals, cabins, beach houses and more</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!-- FIXME: why not add tag strip still works? cache? -->
    <!-- <% if controller_name == 'booking_payments' && action_name == 'create' %>
      <%= stripe_javascript_tag %>
    <% end %> -->
    <!-- Date Picker -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script type="module">
      import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'


      const swiper = new Swiper(".swiper", {
        // Optional parameters
        loop: true,

        // If we need pagination
        //   pagination: {
        //     el: ".swiper-pagination",
        //   },

        // Navigation arrows
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
  </head>
  <body>
    <%= turbo_frame_tag :modal %>
    <% if controller_name != 'registrations' && controller_name != 'sessions' %>
      <%= render 'layouts/header' %>
    <% end %>
    <% if flash[:notice].present? %>
      <%= render "shared/notice", content: flash[:notice] %>
    <% end %>
    <% if flash[:alert].present? %>
      <%= render 'shared/alert', content: flash[:alert] %>
    <% end %>
    <%= yield %>
  </body>
</html>
